body {
background-image:url(body.png)
}
.container {
	width: 900px;
}
.header {
	background-image: url(pic1.jpg);
	height: 100px;
	width: 900px;
	border-bottom-width: thick;
	border-bottom-style: solid;
	border-bottom-color: #FF3399;
	position: relative;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	text-transform: capitalize;
	color: #00CC00;
	text-decoration: blink;
	font-size: 36px;
	font-weight: 900;
	white-space: normal;
	bottom: 36px;
	background-color: #F0F0F0;
	
}

.navbar {
	position: relative;
	background-color: #990000;
	font-size: 18px;
	font-style: oblique;
	font-weight: bold;
	margin-top: -36px;
	width: 900px;
	line-height: 30px;
}
.leftsidebar{
	background-color: #000000;
	height: 500px;
	width: 150px;
	float: left;
	border-right-width: medium;
	border-right-style: ridge;
	border-right-color: #33CCFF;

}
.rightsidebar{
	background-color: #000000;
	height: 500px;
	width: 150px;
	float: right;
	border-left-width: medium;
	border-left-style: ridge;
	border-left-color: #33CCFF;
}
.body{
	height: 494px;
	width:600px;
	border: medium ridge #990000;
	position: relative;
	background-image: url(855e42.png);
	background-color: #993300;
	cursor: text;
	text-shadow: 5px 5px 5px orange;
}
.footer{
	background-color: #FF66FF;
	height: 80px;
	width: 900px;
	border: medium outset #000000;
	clear: both;
	background-image: url(footer.jpg);
}
.bodyimg {
	height: 230px;
	width: 230px;
	border: medium groove #99FF00;
}
.barsimg{
	height: 150px;
	width: 130px;
	border: medium inset #CC33FF;
}
.links{
    
	
}